.bodysection {
  background-image: url("./Background.jpg");
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 64px);
  width: 100%;
  padding-top: 64px;
}
.bodytext{
  color:black;
  margin-right:1100px;
  padding-left: 5%;
  align-items: center;
}
.aboutme{
  color:black;
  margin-right:1100px;
  padding-left: 5%;
}
.fix{
  padding-top:130px;
  padding-bottom:50px;
  display:flex;
  justify-content: space-between;
}
.smlinks{
  height:36px;
  width:36px;
  padding-left: 5%;
}
.avatar{
  position: absolute;
  right: 100px;              
  top: 50%;
  transform: translateY(-50%);
  height: 256px;
  width: 256px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #007BFF;
  z-index: 20;  
}
.avatarlite{
  position: absolute;
  left: 20px;              
  top: 93%;
  transform: translateY(-10%);
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #E1306C;
  z-index: 100;
}
.section{
  background-color: #007BFF;
  padding: 50px;
}
.workfix{
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 25px;
}
.heading{
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #007BFF;
  padding:40px;
  transition:0.3s ease;
}
.cards{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding:40px;
}
.card{
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  height: 650px;
  text-align: center;
  transition: 0.3s ease;
}
.card:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 3px 3px gray;
}
.workimage{
  width: 100%;
  border-radius: 10px;
}
.worktitle{
  font-size: 24px;
  margin: 15px 0;
  color:#007BFF;
}
.workdescription{
  font-size: 16px;
  color: #6c757d;
}
.worklink1{
  position:absolute;
  bottom: -970px;
  left: 440px;
  display: inline-block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}
.worklink1:hover{
  text-decoration: underline;
}
.worklink2{
  position:absolute;
  bottom: -970px;
  left: 940px;
  display: inline-block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}
.worklink2:hover{
  text-decoration: underline;
}
.myimage{
  width: auto;
  height: 500px;
  margin-left:50px;
  margin-right: 50px;
  border:2px solid #6c757d;
  border-radius: 25px;
}
.about{
  display:flex;
  justify-items:center ;
  justify-content: space-evenly;
}
.sectionabout{
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 25px;
}
.aboutdisplay{
  justify-items: center;
}
.abouttext{
  justify-content: center;
  margin-left:20px;
  margin-right: 50px;
}
.flexdisplay{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.workdescription2{
  font-size: 16px;
  color: #6c757d;
  padding-left:100px;
}
.contactform{
  padding:100px;
  border-radius: 10px;
  justify-content: baseline;
  margin:50px;
  color:black;
}
.contactform input{
  width: 100%;
  border-radius: 0px;
  background-color:white;
  color: black;
  border:2px solid black;
}
.contactform textarea{
  width: 100%;
  border-radius: 0px;
  background-color:white;
  color: black;
  border: 2px solid black;
}
.submitbutton input{
  border-radius: 25px;
  color:white;
  background-color: #007BFF;
  border:none;
}
.emailid{
  justify-content: center;
  padding-left:40%;
  padding-right: 40%;
  padding-bottom:2%;
}