.bodysection {
  background-image: url("./Background.jpg");
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 64px);
  width: 100%;
  padding-top: 64px;
}
.bodytext{
  color:black;
  margin-right:1100px;
  padding-left: 5%;
  align-items: center;
}
.aboutme{
  color:black;
  margin-right:1100px;
  padding-left: 5%;
}
.fix{
  padding-top:130px;
  padding-bottom:50px;
  display:flex;
  justify-content: space-between;
}
.smlinks{
  height:36px;
  width:36px;
  padding-left: 5%;
}
.avatar{
  position: absolute;
  right: 100px;              
  top: 50%;
  transform: translateY(-50%);
  height: 256px;
  width: 256px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #007BFF;
  z-index: 20;  
}
.avatarlite{
  position: absolute;
  left: 20px;              
  top: 93%;
  transform: translateY(-10%);
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #E1306C;
  z-index: 100;
}

